@model ExwhyzeeTechnology.Domain.Models.DashboardSetting

@{
    Domain.Models.Setting setting = ViewBag.setting;
}
<li class="nav-header" style="background-color: #c8cacc;border-radius: 4px;font-weight: bolder;color: black;">NAVIGATION</li>


<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Admin" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Dashboard
        </p>
    </a>
</li>


<li class="nav-item">
    <a asp-page="/ICourse/Index" asp-area="Admin" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Course
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/ICareer/Index" asp-area="Admin" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Career
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/TimetablePage/Index" asp-area="Admin" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Timetable
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Account
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a asp-page="/Dashboard/Profile" asp-area="Staff" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Profile
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-page="/Authv2/Auth/TwoFactorAuthentication" asp-area="V2" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Two Factor Auth.
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Authv2/Auth/ChangePassword" asp-area="V2" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Change Password
                </p>
            </a>
        </li>

    </ul>
</li>
<li class="nav-item">
    <a asp-page="/UserManagement/Participants" asp-area="Admin" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            All Participants
        </p>
    </a>
</li>
@if (User.Identity.IsAuthenticated && User.IsInRole("Customer Care") || User.IsInRole("Admin") || User.IsInRole("mSuperAdmin"))
{
    <li class="nav-item">
        <a asp-page="/IRequest/Index" asp-area="Admin" class="nav-link">
            <i class="nav-icon fas fa-th nav-icon"></i>
            <p class="uppercase">
                Contact Us Messages
            </p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("mSuperAdmin"))
{

    @if (Model.ActivateUserManagement == true)
    {
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    User Management
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @if (Model.ActivateUser == true)
                {
                    <li class="nav-item">
                        <a asp-page="/UserManagement/Index" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                Users
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/UserManagement/Training" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                Training Application
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/UserManagement/Yearbook" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                               Year Book
                            </p>
                        </a>
                    </li>
                }
                @if (Model.ActivateAttendance == true)
                {
                    <li class="nav-item">
                        <a asp-page="/IAttendance/Index" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                Attendance
                            </p>
                        </a>
                    </li>
                }
                @if (Model.ActivateReport == true)
                {
                    <li class="nav-item">
                        <a asp-page="/IReport/Index" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                Reports
                            </p>
                        </a>
                    </li>
                }
                @if (Model.ActivateTrainings == true)
                {
                    <li class="nav-item">
                        <a asp-page="/ITraining/Index" asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                Trainers
                            </p>
                        </a>
                    </li>
                }


                @if (Model.ActivateSiteMap == true)
                {
                    <li class="nav-item">
                        <a asp-page="" asp-area="" class="nav-link">
                            <i class="nav-icon fas fa-circle nav-icon"></i>
                            <p class="uppercase">
                                Site Map
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }


    <li class="nav-item">
        <a asp-page="/IProposalPage/Index" asp-area="Admin" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Proposal
            </p>
        </a>
    </li>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Secretary") || User.IsInRole("mSuperAdmin"))
    {
        <li class="nav-item">
            <a asp-page="/IMeetings/Index" asp-area="Admin" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Meeting
                </p>
            </a>
        </li>
    }
}

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Settings
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a asp-page="/EvaluationPage/Index" asp-area="Admin" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Evaluation Questions
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-page="/TestQuestions/Index" asp-area="Admin" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Test Questions
                </p>
            </a>
        </li>


    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Content Mgt
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-page="/IPages/Main/Index" asp-area="Content" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Pages
                </p>
            </a>
        </li>
        @if (Model.ActivateBlogContent == true)
        {
            <li class="nav-item">
                <a asp-page="/IBlogs/Post/Index" asp-area="Content" class="nav-link">
                    <i class="nav-icon fas fa-circle nav-icon"></i>
                    <p class="uppercase">
                        Blog
                    </p>
                </a>
            </li>
        }
        @if (Model.ActivateSliderContent == true)
        {
            <li class="nav-item">
                <a asp-page="/ISliders/Index" asp-area="Content" class="nav-link">
                    <i class="nav-icon fas fa-circle nav-icon"></i>
                    <p class="uppercase">
                        Banner Slider
                    </p>
                </a>
            </li>
        }
        @if (Model.ActivateTestimonyContent == true)
        {
            <li class="nav-item">
                <a asp-page="/ITestimony/Index" asp-area="Content" class="nav-link">
                    <i class="nav-icon fas fa-circle nav-icon"></i>
                    <p class="uppercase">
                        Testimony
                    </p>
                </a>
            </li>
        }
        @if (Model.ActivateFaqContent == true)
        {
            <li class="nav-item">
                <a asp-page="/IFaq/Index" asp-area="Content" class="nav-link">
                    <i class="nav-icon fas fa-circle nav-icon"></i>
                    <p class="uppercase">
                        FAQ
                    </p>
                </a>
            </li>
        }
        <li class="nav-item">
            <a asp-page="/IModal/Index" asp-area="Content" class="nav-link">
                <i class="nav-icon fas fa-circle nav-icon"></i>
                <p class="uppercase">
                    Modal Notification
                </p>
            </a>
        </li>

    </ul>
</li>
