

<li class="nav-header" style="background-color: #c8cacc;border-radius: 4px;font-weight: bolder;color: black;">NAVIGATION</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p class="">
            Dashboard
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/UserTechProfile/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-school"></i>
        <p>
            Profile
        </p>
    </a>
</li> 
<li class="nav-item">
    <a asp-page="/TechClasses/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-school"></i>
        <p>
            Class
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/TechTimeTable/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-calendar-alt"></i>
        <p>
            TimeTable
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/TechAssignment/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
        <p>
            Assignment
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/TechProject/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-tree"></i>
        <p>
            Project
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/TechPoint/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-coins"></i>
        <p>
            Point
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/TechMaterial/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
            Material
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Notification/Index" asp-area="Student" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
            Memo/Notification
        </p>
    </a>
</li>