@page
@model ExwhyzeeTechnology.Website.Areas.Admin.Pages.ICourse.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW COURSE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Course.Name" class="control-label"></label>
                        <input asp-for="Course.Name" class="form-control" oninput="this.value = this.value.toUpperCase()" />
                        <span asp-validation-for="Course.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.Abbreviation" class="control-label"></label>
                        <input asp-for="Course.Abbreviation" class="form-control" oninput="this.value = this.value.toUpperCase()" />
                        <span asp-validation-for="Course.Abbreviation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.SignInStartTime" class="control-label"></label>
                        <input asp-for="Course.SignInStartTime" class="form-control" placeholder="00:00" type="time" />
                        <span asp-validation-for="Course.SignInStartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.SignInStopTime" class="control-label"></label>
                        <input asp-for="Course.SignInStopTime" class="form-control" type="time" />
                        <span asp-validation-for="Course.SignInStopTime" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Course.SignOutStartTime" class="control-label"></label>
                        <input asp-for="Course.SignOutStartTime" class="form-control" placeholder="00:00" type="time" />
                        <span asp-validation-for="Course.SignOutStartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.SignOutStopTime" class="control-label"></label>
                        <input asp-for="Course.SignOutStopTime" class="form-control" type="time" />
                        <span asp-validation-for="Course.SignOutStopTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
