@page
@model ExwhyzeeTechnology.Website.Areas.MIS.Pages.UserTechProfile.NoAdmissionModel
@{
}
<div class="container-fluid">
    <button type="button" class="btn btn-block btn-danger btn-xs" style="margin:10px 0;">
        <h3>You have not been admitted yet.</h3>
    </button>
</div>